<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moviepage.community.CommunityMapper">
    <delete id="deleteBoard" parameterType="long">
        DELETE FROM community
        WHERE id = #{id}
    </delete>

    <select id="getCommunityDetail" parameterType="long" resultType="com.example.moviepage.dto.response.ResponseCommunity">
        SELECT
            *
        FROM
            community
        WHERE
            id = #{id}
    </select>

    <select id="getCommunityList" parameterType="long" resultType="com.example.moviepage.dto.response.ResponseCommunity">
        SELECT
            id,
            title,
            username,
            created_at,
            updated_at,
            view_count
        FROM
            community
        ORDER BY
            created_at DESC
        LIMIT
            #{page}, 10
    </select>

    <select id="getAllCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            community;
    </select>

    <insert id="addBoard" parameterType="com.example.moviepage.dto.request.RequestCommunity">
        INSERT INTO community
        (
            title,
            note,
            username
        )
        VALUE
        (
            #{title},
            #{note},
            #{username}
        )
    </insert>

    <update id="updateBoard" parameterType="com.example.moviepage.dto.request.RequestCommunity">
        UPDATE
            community
        SET
            title = #{title},
            note = #{note}
        WHERE
            id = #{id}
    </update>

    <update id="upCount" parameterType="long">
        UPDATE
            community
        SET
            view_count = view_count + 1
        WHERE
            id = #{id}
    </update>
</mapper>