<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moivepage.community.CommunityMapper">
    <delete id="deleteBoard" parameterType="long">
        DELETE FROM community
        WHERE id = #{id}
    </delete>

    <select id="getCommunityDetail" parameterType="id" resultType="com.example.moivepage.dto.response.ResponseCommunity">
        SELECT
            *
        FROM
            community
        WHERE
            id = #{id}
    </select>

    <select id="getCommunityList" resultType="com.example.moivepage.dto.response.ResponseCommunityList">
        SELECT
            id,
            title,
            username,
            view_count
        FROM
            community
        ORDER BY
            created_at DESC
        LIMIT
            #{page}, 10
    </select>

    <insert id="addBoard" parameterType="com.example.moivepage.dto.request.RequestCommunity">
        INSERT INTO community
        (
            title,
            note,
            username
        )
        VALUE
        (
            #{title},
            #{note},
            #{username}
        )
    </insert>

    <update id="updateBoard" parameterType="com.example.moivepage.dto.request.RequestCommunity">
        UPDATE
            community
        SET
            title = #{title},
            note = #{note}
        WHERE
            id = #{id}
    </update>

    <update id="upCount" parameterType="long">
        UPDATE
            community
        SET
            view_count = view_point + 1
        WHERE
            id = {id}
    </update>
</mapper>