<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moviepage.member.MemberMapper">
    <delete id="deleteMember" parameterType="com.example.moviepage.dto.Member">
        DELETE FROM member
        where primaryId = #{sessionId}
    </delete>

    <insert id="addMember" parameterType="com.example.moviepage.dto.Member">
        INSERT INTO member
        (
            loginId,
            password,
            name,
            email,
            phone,
            address_no,
            address1,
            address2,
            birthday,
            gender
        )
        VALUE
        (
            #{loginId},
            #{password},
            #{name},
            #{email},
            #{phone},
            #{address_no},
            #{address1},
            #{address2},
            #{birthday},
            #{gender}
        )
    </insert>

    <select id="findMemberById" parameterType="Long" resultType="String">
        SELECT
            loginId
        FROM
            member
        WHERE
            primaryId = #{id}
    </select>

    <select id="findPasswordById" parameterType="Long" resultType="String">
        SELECT
            password
        FROM
            member
        WHERE
            primaryId = #{id}
    </select>

    <update id="updateMember" parameterType="com.example.moviepage.dto.Member">
        UPDATE
            member
        SET
            name = #{name},
            address_no = #{address_no},
            address1 = #{address1},
            address2 = #{address2},
            email = #{email},
            phone = #{phone},
            gender = #{gender}
        WHERE
            loginId = #{loginId}
    </update>

    <update id="updateProfile" parameterType="com.example.moviepage.dto.request.RequestPhoto">
        UPDATE
            member
        SET
            profile = #{photo}
        WHERE
            loginId = #{loginId}
    </update>
</mapper>